.SiteWrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
}

.Home {
  max-width: 0 auto;
  max-width: 640px;
}

.Home h1 {
  text-align: center;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.WeatherInfo_Image {
  flex-basis: 50%;
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureLabel{
  margin: 0;
  text-transform: uppercase;
}

.OtherTemperatures {
  font-size: 24px;
  line-height: 24px;
}